<h1> Ordinal numbering encoding or Label Encoding </h1>
<h4> Ordinal categorical variables </h4>

Ordinal data is a categorical, statistical data type where the variables have natural, ordered categories and the distances between the categories is not known.



For example:

1. Student's grade in an exam (A, B, C or Fail).

**Explaination :** 
If the a Students grades like A, B, C, or fail So I can assinng here a grade range like A = 4, B = 3, C = 2, Fail = 1
Rank in the manner of Higher to lower

2. Educational level, with the categories: Elementary school, High school, College graduate, PhD ranked from 1 to 4.


When the categorical variables are ordinal, the most straightforward best approach is to replace the labels by some ordinal number based on the ranks.

In [23]:
import pandas as pd
import datetime

In [13]:
# create a variable with dates, and from that extract the weekday
# I create a list of dates with 20 days difference from today
# and then transform it into a datafame

df_base = datetime.datetime.today()
df_date_list = [df_base - datetime.timedelta(days=x) for x in range(0, 20)]
df = pd.DataFrame(df_date_list)
df.columns = ['day']
df

                          day
0  2020-08-15 12:30:53.955103
1  2020-08-14 12:30:53.955103
2  2020-08-13 12:30:53.955103
3  2020-08-12 12:30:53.955103
4  2020-08-11 12:30:53.955103
5  2020-08-10 12:30:53.955103
6  2020-08-09 12:30:53.955103
7  2020-08-08 12:30:53.955103
8  2020-08-07 12:30:53.955103
9  2020-08-06 12:30:53.955103
10 2020-08-05 12:30:53.955103
11 2020-08-04 12:30:53.955103
12 2020-08-03 12:30:53.955103
13 2020-08-02 12:30:53.955103
14 2020-08-01 12:30:53.955103
15 2020-07-31 12:30:53.955103
16 2020-07-30 12:30:53.955103
17 2020-07-29 12:30:53.955103
18 2020-07-28 12:30:53.955103
19 2020-07-27 12:30:53.955103

In [26]:
# extract the week day name

df['day_of_week'] = df['day'].dt.day_name()
df.head()

                         day day_of_week
0 2020-08-15 12:30:53.955103    Saturday
1 2020-08-14 12:30:53.955103      Friday
2 2020-08-13 12:30:53.955103    Thursday
3 2020-08-12 12:30:53.955103   Wednesday
4 2020-08-11 12:30:53.955103     Tuesday

In [27]:
 # Engineer categorical variable by ordinal number replacement

weekday_map = {'Monday':1,
               'Tuesday':2,
               'Wednesday':3,
               'Thursday':4,
               'Friday':5,
               'Saturday':6,
               'Sunday':7
}

df['day_ordinal'] = df.day_of_week.map(weekday_map)
df.head(20)

                          day day_of_week  day_ordinal
0  2020-08-15 12:30:53.955103    Saturday            6
1  2020-08-14 12:30:53.955103      Friday            5
2  2020-08-13 12:30:53.955103    Thursday            4
3  2020-08-12 12:30:53.955103   Wednesday            3
4  2020-08-11 12:30:53.955103     Tuesday            2
5  2020-08-10 12:30:53.955103      Monday            1
6  2020-08-09 12:30:53.955103      Sunday            7
7  2020-08-08 12:30:53.955103    Saturday            6
8  2020-08-07 12:30:53.955103      Friday            5
9  2020-08-06 12:30:53.955103    Thursday            4
10 2020-08-05 12:30:53.955103   Wednesday            3
11 2020-08-04 12:30:53.955103     Tuesday            2
12 2020-08-03 12:30:53.955103      Monday            1
13 2020-08-02 12:30:53.955103      Sunday            7
14 2020-08-01 12:30:53.955103    Saturday            6
15 2020-07-31 12:30:53.955103      Friday            5
16 2020-07-30 12:30:53.955103    Thursday            4
17 2020-07-29 12:30:53.955103   Wednesday            3
18 2020-07-28 12:30:53.955103     Tuesday            2
19 2020-07-27 12:30:53.955103      Monday            1

In [28]:
# Here we done assinging the rank to label

<h1> Ordinal Measurement Advantages </h1>

Ordinal measurement is normally used for surveys and questionnaires. Statistical analysis is applied to the responses once they are collected to place the people who took the survey into the various categories. The data is then compared to draw inferences and conclusions about the whole surveyed population with regard to the specific variables. The advantage of using ordinal measurement is ease of collation and categorization. If you ask a survey question without providing the variables, the answers are likely to be so diverse they cannot be converted to statistics.



With Respect to Machine Learning

1. Keeps the semantical information of the variable (human readable content)
2. Straightforward

<h1> Ordinal Measurement Disadvantages </h1>

The same characteristics of ordinal measurement that create its advantages also create certain disadvantages. The responses are often so narrow in relation to the question that they create or magnify bias that is not factored into the survey. For example, on the question about satisfaction with the governor, people might be satisfied with his job performance but upset about a recent sex scandal. The survey question might lead respondents to state their dissatisfaction about the scandal, in spite of satisfaction with his job performance -- but the statistical conclusion will not differentiate.


With Respect to Machine Learning

1. Does not add machine learning valuable information